<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Brand name -->
  <a href="#" class="navbar-brand">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- nav links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#" class="nav-link">Recipes</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Shopping List</a>
      </li>
    </ul>
  </div>
  <!-- 'Manage' dropdown -->
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" role="button">Manage</a>
    </li>
    <div class="dropdown-menu">
      <a href="#" class="dropdown-item">Save Data</a>
      <a href="#" class="dropdown-item">Fetch Data</a>
    </div>
  </ul>
</nav>